<%=content_for :page_header do %>
  <%= @article.title %>
<% end %>
<div style="padding-left: 50px;">
  <div style="float:left">
    <%= button_to "Back to blog index", { action: 'index' }, method: :get, class: 'button' %>
  </div>
  <div style="float:left; padding-left: 10px;">
    <%= button_to "Edit this article", { action: 'edit' }, method: :get, class: 'button_edit'%>
  </div>
  <div style="float:right; padding-right: 20px;">
    <%= button_to "Delete this article", { action: 'destroy' }, method: :delete, onClick: "return confirm('Are you sure?')", class: 'button_delete'%>
  </div>
</div>
<br><br><br>
<p class="para">
  <%= @article.body %>
</p>
