<%= content_for :page_header do %>
	TechNews
<% end %>

<div style="overflow-x:auto;">
	<table>
			<% @headlines.each do |h| %>
				<tr>
					<td style="width: 35%"><a href=<%= h['url'] %>, target="blank"> <img src="<%= h['urlToImage']%>"></a></td>
					<td style="width: 65%"><%= h['description'] %></td>
				</tr>
			<% end %>
	</table>
</div><br><br>
<div class="paginate">
	<%= will_paginate @headlines%>
</div>
<footer>
	<p style="text-align: center; font-size: 10px;">Powered by <a href="https://newsapi.org/", style="color: silver">News API</a></p>
</footer>