<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111350027-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111350027-1');
</script>

<%= content_for :page_heading do %>
	TechNews
<% end %>
<table class="table table-responsive">
	<thead style="font-family: Dosis; font-size: 18px;">
		<th>News Link</th>
		<th>Headlines</th>
		<th>Description</th>
	</thead>
	<tbody>
		<% @headlines.each do |h| %>
			<tr>
				<td>
					<a href=<%= h['url']%>><img src="<%= h['urlToImage']%>" width='80' height='60'; alt="NewsImage"></a>
				</td>
				<td style="font-family: Dosis; font-size: 15px;">
					<%= h['title'] %>
				</td>
				<td style="font-family: Dosis; font-size: 15px;">
					<%= h['description'] %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
	
<footer>
	<p style="text-align: center; font-size: 10px;">Powered by <a href="https://newsapi.org/", style="color: silver">News API</a></p>
</footer>
<div class="paginate">
	<%= will_paginate @headlines%>
</div>