<%=content_for :page_heading do %>
  Login
<% end %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style="padding-left: 50px;">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form_title', style: "width: 25%;", autofocus: true %>
  </div>
  
  <div class="field" style="padding-left: 50px;">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form_title', style: "width: 25%;", autocomplete: "off" %>
  </div>
  
  <br><br>
  
  <div class="actions" style="padding-left: 50px;">
    <%= f.submit "Log in", class: 'button' %>
  </div>
<% end %>
