<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'DsV' , welcome_home_path, {:class => 'navbar-brand', :id => 'logo'} %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', welcome_home_path %></li>
        <li><%= link_to 'About', welcome_about_path %></li>
        <li><%= link_to 'News', api_news_index_path %></li>
        <li><%= link_to 'Blog', articles_path %></li>
        <% if admin_signed_in? %>
          <li><%= link_to "Logout", destroy_admin_session_path, method: :get %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/dsvinod90", target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/vinod-dalavai-00933459/", target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/ds.vinod.1", target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
        <li><%= link_to fa_icon("download", class: 'fa-2x'), download_resume_path, {:id =>"resume_download", :data => {:toggle => "tooltip"}, :title => "Download resume"} %></li>
        <li>
          <%= mail_to "admin@vinoddalavai.me", subject: "Hey, Vinod" do %>
            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>